#banner-bg{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(black, black);
    
}
.custom-shape-divider-bottom-1718639787 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1718639787 svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 121px;
}

.custom-shape-divider-bottom-1718639787 .shape-fill {
    fill: #ffff;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
}

#icon-grid{
    background-color: black;
    
}



#cont-form{
    background-color: black;
    padding: 10% 0;
}

/* @media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width:auto;
        height:auto;
    }
} */

@media screen and (max-width: 992px) {
    #title-text {
        padding-top: 50px;
        margin: 0 auto;
        text-align: center;
    }
    #title-lang{
        text-align: center;
        padding: 10% 0 15% 0;
    }
    #icon-img {
        max-width: 25%;
        
    }
    #projects{
        padding: 1% 0 10%;
    }
    #cont-form {
        padding: 25% 0;
        text-align: center;
    }
}
